<div class="sip-main">
    <div class="sip-grid">
      <div>
        <span class="action-link-plus" (click)="addSIP($event)" style="float:right;"></span>      
      </div>
      <div class="tableDiv">
        <table>
          <thead>
            <tr>
              <td colspan="7" class="heading">Recurring Plan</td>
            </tr>
            <tr>
              <th>Name</th>
              <th>SIP Amount</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Linked Saving</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sip of sips" id="{{sip.sipId}}">
              <td>{{sip?.name}}</td>
              <td>{{sip?.amount | number:'2.1-2'}}</td>
              <td>{{sip?.startDate}}</td>
              <td>{{sip?.endDate}}</td>
              <td>{{sip?.saving}}</td>
              <td id="{{sip.sipId}}">
                <span class="action-link-edit" (click)="ediSIP($event)"></span>
                <span class="action-links action-link-delete" (click)="deleteSIP($event)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>