<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="description" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="password" formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="key" formControlName="key">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="action-buttons">
  <button type="button" *ngIf="isNewRecord" class="btn btn-md btn-primary lm-save-button" (click)='savePassword()'>Save</button>
  <button type="button" *ngIf="!isNewRecord" id="{{id}}" class="btn btn-md btn-primary lm-save-button" (click)='updatePassword($event)'>Update</button>
  <button type="button" class="btn btn-md btn-primary lm-close-button" (click)='close()'>Close</button>
</mat-dialog-actions>