<div class="password-main">
    <div class="actions-common">
            <span class="action-link-plus" (click)="addNewPassword()" style="float:right;"></span>
    </div>
    <div class="tableDiv">
        <table>
            <thead>
                <tr>
                    <td colspan="6" class="heading">Passwords</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Enter Key</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let password of passwords">
                    <td>{{password?.name}}</td>
                    <td>{{password?.description}}</td>
                    <td><input id="{{password.passwordId}}" type="password"></td>
                    <td id="{{password.passwordId}}">
                            <span class="action-link-edit" (click)="editPassword($event)"></span>
                            <span class="action-links action-link-delete" (click)="deletePassword($event)"></span>
                            <span class="action-links action-link-show" (click)="getPassword($event)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>